.scroll-container {
  width: 100%;
  overflow: inherit;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.scroll-arrow {
  opacity: 1;
  font-size: 12px;
  flex-grow: 0;
  position: relative;
}

.scrollable-content {
  width: calc(100% - 72px);
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  scroll-behavior: smooth;
}

.scroll-arrow.scroll-right-arrow {
  margin-left: auto;
}

.scroll-arrow > button {
  border: none;
  background: no-repeat;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 10px;
}
